/* Write your CSS code here */

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto';
  box-sizing: border-box;
}

.blog-item-container {
  border: 1px solid #8e8e8e;
  width: 100%;
  list-style: none;
  padding: 15px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  margin-bottom: 18px;
}

@media screen and (min-width: 768px) {
  .blog-item-container {
    display: flex;
    flex-direction: row;
  }
}

.image {
  width: 100%;
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  .image {
    width: 40%;
  }
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

.topic-text {
  color: #8e8e8e;
  font-size: 15px;
  margin-bottom: 8px;
  font-weight: 400;
}

.details-container {
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .details-container {
    width: 60%;
    padding-top: 20px;
    margin-left: 20px;
  }
}

.title-text {
  color: #000000;
  font-size: 18px;
  font-weight: 500;
}

.avatar-container {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  align-items: center;
}

.author-text {
  color: #8e8e8e;
  font-size: 14px;
  font-weight: 400;
  margin-left: 8px;
}

.link-item-container {
  text-decoration: none;
}
