/* Write your CSS code here */

.all-blog-item-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.spinner-container {
  margin-top: 20px;
  margin-bottom: 20px;
}
